@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%; /* Light mode background (white) */
}

.dark {
  --background: (192, 12%, 8%);
}

body {
  background-color: hsl(var(--background));
  transition: background-color 0.3s ease, color 0.3s ease;
}
