@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* styles.css */
  :root {
    --background: #efebeb;
  }

  .dark {
    --background: #131619;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .dark ::-webkit-scrollbar-track {
    background: #181818;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #181818;
  }
  .dark ::-webkit-scrollbar-thumb {
    background: #efebeb;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  *::selection {
    background: #181818;
    backdrop-filter: blur;
    color: #efebeb;
  }
  .dark *::selection {
    background: #efebeb;
    backdrop-filter: blur;
    color: #181818;
  }
}
